.own-body {
    position: absolute;
    padding: 1.2em;
    width: 100%;
    min-height: 100%;
    /* background: linear-gradient(to top left, #45a9d8, #8b48d5); */
    background-color: #673AB7;
    font-family: 'Montserrat', sans-serif;
}

.board-back-button {
    position: absolute;
    top: .4em;
    left: .7em;
    cursor: pointer;
}

.board-back-button:hover {
    position: absolute;
    top: .4em;
    left: .7em;
    cursor: pointer;
    background-color: darkorchid;
}

.board-back-button img {
    max-width: 80px;
}

#heading {
    /* text-transform: uppercase; */
    color: #673AB7;
    font-weight: normal
}

.btn-new {
    margin-left: .5em;
    float: left;
    color: #3E005D;
    border: solid 1px #3E005D;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
} 

.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input.form-control[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
}

mat-paginator {
    background-color: #ce93d8;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.signature {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #CCD1D1;
    margin: .5em;
    
  }