<div class="card px-0 pt-4 pb-0 mt-3 mb-3">
    <h2 id="heading">Money Transfer</h2>
    <p>Fill all form field to go to next step</p>
    <form id="msform" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active" id="account"><strong>Send</strong></li>
            <li id="payment"><strong>Hold</strong></li>
            <li id="confirm"><strong>Receive</strong></li>
        </ul>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div> <br> <!-- fieldsets -->
        
        <fieldset>
            <div class="form-card">
                <div class="row">
                    <div class="col-7">
                        <h2 class="fs-title">Sending Process:</h2>
                    </div>
                    <div class="col-5">
                        <h2 class="steps">Step 1 - 3</h2>
                    </div>
                </div>
                <label class="fieldlabels">Receiver fullname: *</label>
                <p *ngIf="!fullnameCtrl.valid && fullnameCtrl.touched">
                    <span class="text-danger">required</span>
                </p>
                <input type="text" name="fullname" ngModel #fullnameCtrl="ngModel"
                    placeholder="fullname..." minlength="5" required />


                <label class="fieldlabels">Receiber phone number: *</label>
                <p *ngIf="!phoneNumberCtrl.valid && phoneNumberCtrl.touched">
                    <span class="text-danger">Must contain 10 numbers</span>
                </p>
                <input type="text" name="phoneNumber" ngModel #phoneNumberCtrl="ngModel"
                    placeholder="Ex: 06xxxxxxxx" minlength="10" maxlength="10" required />

                    <label class="fieldlabels">Amount to send: *</label>
                <p *ngIf="!amountCtrl.valid && amountCtrl.touched">
                    <span class="text-danger">required</span>
                </p>
                <input type="number" name="amount" ngModel #amountCtrl="ngModel" required />
                
            </div>
            <input type="submit" name="next" class="next action-button" value="Send" />
            <!-- <input type="button" name="next" class="next action-button" value="Next" /> -->
        </fieldset>
        <fieldset>
            <div class="form-card">
                <div class="row">
                    <div class="col-7">
                        <h2 class="fs-title">Holding Process:</h2>
                    </div>
                    <div class="col-5">
                        <h2 class="steps">Step 2 - 3</h2>
                    </div>
                </div>
                <!-- Holding Code -->
                <div *ngIf="!isLoading && !isError">
                    <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <img src="https://i.imgur.com/GwStPmg.png" class="fit-image">
                        </div>
                    </div> <br><br>
                    <div *ngIf="transactionCode" class="row justify-content-center">
                        <div class="col-7 text-center">
                            <h5 class="purple-text text-center">Transaction Secret Code: <span style="color: #ce93d8">{{ transactionCode }}</span></h5>
                        </div>
                    </div>
                </div>
                <div *ngIf="isError && !isLoading" class="row justify-content-center m-3">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <img src="https://www.pngitem.com/pimgs/m/119-1190874_warning-icon-png-png-download-icon-transparent-png.png"
                                class="fit-image">
                        </div>
                    </div> <br><br>
                    <p class="alert bg-danger text-white">
                        Please make sure you filled up all required (*) information !
                    </p>
                </div>
            </div>
            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
        </fieldset>
        <fieldset>
            <div class="form-card">
                <div class="row">
                    <div class="col-7">
                        <h2 class="fs-title">Finish:</h2>
                    </div>
                    <div class="col-5">
                        <h2 class="steps">Step 4 - 4</h2>
                    </div>
                </div> <br><br>
                <div *ngIf="isLoading" class="row justify-content-center">
                    <div class="spinner-grow text-secondary m-3" style="width:4em; height: 4em;"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div *ngIf="!isLoading && !error">
                    <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <img src="https://i.imgur.com/GwStPmg.png" class="fit-image">
                        </div>
                    </div> <br><br>
                    <div class="row justify-content-center">
                        <div class="col-7 text-center">
                            <h5 class="purple-text text-center">You Have Successfully Refilled</h5>
                        </div>
                    </div>
                </div>
                <div *ngIf="error && !isLoading" class="row justify-content-center m-3">
                    <div class="row justify-content-center">
                        <div class="col-3">
                            <img src="https://www.pngitem.com/pimgs/m/119-1190874_warning-icon-png-png-download-icon-transparent-png.png"
                                class="fit-image">
                        </div>
                    </div> <br><br>
                    <p class="alert bg-danger text-white">
                        Please make sure you filled up all required (*) information !
                    </p>
                </div>
            </div>
            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
        </fieldset>
    </form>
</div>