<div class="container-fluid own-body">
    <div class="board-back-button">
        <a [routerLink]="['/board']">
            <img src="https://icon-library.com/images/white-menu-icon/white-menu-icon-12.jpg" alt="Board">
        </a>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-9 col-lg-8 col-xl-7 text-center p-0 mt-3 mb-2 ">
            <router-outlet></router-outlet>
        </div>
    </div>
    <p class="signature">
        Tasshilat Services © - Copyright 2020-2021
    </p>
</div>
